<nav>
<ul>
    <li class="li1 textStyle3"><a href="/">Home</a></li>
    <li class="li2 textStyle3"><a href="/about">About</a></li>
    <li class="li3 textStyle3"><a href="/login">Login</a></li>
    <li class="li4 textStyle3"><a href="/signup">Sign up</a></li>
    <!-- <li class="li4 textStyle3"><a href="/fsAndW">Create For Sale/Wanted</a></li> -->
</ul>
</nav>