<nav>
    <ul>
        <li class="li1"><a href="/">Home</a></li>
        <li class="li2"><a href="/about">About</a></li>
        <li class="li3"><a href="/login">Login</a></li>
         <!-- <li><a href="/blogs/create">New Blog</a></li> -->
    </ul>
</nav>