<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <%- include("./partials/nav.ejs") %>
    <body>
        <div class="backBtn"><a href="index.html">&#8678; Back</a></div>
         <div class="pageNameHolder">
                <h1>Whoops-a-daisy!</h1>
            </div>
            <div class="explanation">
                <h2>There has been an error....</h2>
            </div>
        
        <div class="textStyle2">
            <p>Sorry your page couldn't be found. This is what I recommend you do.</p>
        </div>
        <div class="textStyle2">
            <ol>
                <li>If you typed the address yourself please check the spelling.</li>
                <li>Go to the Connnection N home page to look for the page your want, and try again.</li>
            </ol>
        </div>
    
    </body>
</html>