<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <%- include("./partials/nav.ejs") %>
    <body>
        <div class="backBtn"><a href="index.html">&#8678; Back</a></div>
         <div class="pageNameHolder">
                <p class="textStyle2">Whoops-a-daisy!</p>
            </div>
            <div class="explanation">
                <p class="textStyle2">There has been an error....</p>
            </div>
        
        <div class="textStyle3">
            <p>Sorry your page couldn't be found. This is what I recommend you do.</p>
        </div>
        <div class="textStyle3">
            <ol>
                <li>If you typed the address yourself please check the spelling.</li>
                <li>Go to the Connnection N home page to look for the page your want, and try again.</li>
            </ol>
        </div>
        <footer class="textStyle4">
            <p>Copyright &#169; January 2025 - Payments - Terms of use - Cookies</p>
        </footer>
    </body>
</html>