<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
  <a class="textStyle3" href="./login">Create a for sale & wanted ad</a>
  
  <footer class="textStyle4">
    <p>Copyright &#169; January 2025  - Payments - Terms of use - Cookies</p>
</footer>
</body>
</html>

<!-- <% if (username) { %>
  <p class="textStyle3 warning"><%= username %></p>
<% } %> -->