<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <header>
            <div class="nameContainer">
                <p class="screenStyle textStyle1">Connect N</p>
                <p class="mobileStyle textStyle1">Connect<br>N</p>
            </div>
            <div class="sloganContainer">
                <p class="textStyle3">Created in Southfields<br>For<br>Southfields Residents</p>
            </div>
            <div class="arrowContainer">
                <img class="downArrow" src="/webImages/downArrow.png"
                    alt="down arrow to direct scroll down as next action">
            </div>
        </header>
        <div class="mobilePage">
            <%- include("./partials/nav.ejs") %>

                <main>
                    <section class="pageSection fsw">
                        <a class="aClass textStyle3" href="/saleWantedAds">FOR SALE & WANTED<br><br>View or place ads</a>
                        
                    </section>
                    <section class="pageSection bus">
                        <a class="aClass textStyle3" href="/about">BUS TIMES<br><br>Up to the minute bus times</a>
                    </section>
                    <section class="pageSection business">
                        <a class="aClass textStyle3" href="/about">BUSINESS<br><br>View or place ads</a>
                    </section>
                    <section class="pageSection quiz">
                        <a class="aClass textStyle3" href="/about">QUIZ CORNER<br><br>When you have a little time to yourself</a>
                    </section>
                    <section class="pageSection feedback">
                        <a class="aClass textStyle3" href="/about">FEEDBACK<br><br>Give us your feedback and pass on your suggestions</a>
                    </section>
                </main>
                <footer class="textStyle4">
                    <p>Copyright &#169; January 2025  - Payments - Terms of use - Cookies</p>
                </footer>
        </div>
    </body>

</html>