<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body class="logSignBdy">
    <div class="formContainer">
        <p class="textStyle2">Login</p>
        <form action="/login" method="post">
            <div class="formGroup">
                <label class="textStyle3" for="email">Email (required)</label>
                <input class="textStyle3" type="email" id="email" name="email" placeholder="Email address" required autocomplete="off">
            </div>
            <div class="formGroup">
                <label class="textStyle3" for="password">Password (required)</label>
                <input class="textStyle3" type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <button class="textStyle3 submitBtn" type="submit">Login</button>
        </form>
        <p class="textStyle3">Don't have an account? <a href="signup">Signup</a></p>
        <% if (warning) { %>
            <p class="textStyle3 warning"><%= warning %></p>
        <% } %>
    </div>
    <footer>
        <p class="textStyle4">Copyright &#169; January 2025  - Payments - Terms of use - Cookies</p>
    </footer>
</body>
</html>
